<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@next"></script>
    <title>Vue Forms</title>
  </head>
  <body>
    <div id="app">
      <h1>Hello Vue Forms</h1>

      <label for="name">Please Enter Your Name:</label>
      <input type="text" id="name" v-model="name" />

      <p v-if="name">Your Name is {{name}}</p>
      <p v-else>Waiting for user input</p>
      <button v-if="name" v-on:click="clear">Clear</button>
    </div>

    <script>
      let app = Vue.createApp({
        data() {
          return {
            name: "",
          };
        },
        methods: {
          clear() {
            this.name = "";
          },
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
